{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<h2 class="text-center">{{'panier.listTitle'|trans}}</h2>

{% if paniers %}
{% set prixFinal = 0 %}
{% for contenu in paniers.contenuPaniers %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{contenu}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{'panier.quantite'|trans}} : {{contenu.quantite}}</h6>
        <p>{{'panier.prixUnite'|trans}} : {{contenu.produit.prix}}</p>
        <p>{{'panier.prixTotalProduit'|trans}}: {{contenu.produit.prix * contenu.quantite}}</p>
        {% set prixFinal = prixFinal + contenu.produit.prix * contenu.quantite %}
        <a href="{{ path('delete_produit_panier', {'id' :contenu.id}) }}">{{'panier.BoutonSuppr'|trans}}</a>
    </div>
</div>
{% endfor %}
<p>{{'panier.prixTotal'|trans}} : {{prixFinal}}</p>

{% if paniers.date != null %}
<p>{{'panier.dateAchat'|trans}} : {{ paniers.date|date("m/d/Y") }}</p>
{% else %}
<a href="{{ path('validPanier', {'id':paniers.id}) }}">{{'panier.validPanier'|trans}}</a>
{% endif %}


{% else %}
<p>{{'panier.messagePanierVide'|trans}}</p>
{% endif %}
{% endblock %}