{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        <script src='{{ asset('produit/produit.js') }}'></script>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Produit</h1>

    {% include 'components/produit/card.html.twig' with { 'item':produit}%}

    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-info" href="">{{ 'btn.addtoCart'|trans }}</a>
    {% endif %}
    <a class='btn btn-secondary' href="{{ path('produits') }}">{{ 'btn.backtolist'|trans({'element':'produit.produit'|trans}) }}</a>

    {% if is_granted('ROLE_ADMIN') %}
        <div id='produit_showForm' class='btn btn-success'>{{ 'btn.edit'|trans}}</div>
        <div id='form' hidden>
            {% include 'components/formDefault.html.twig' with { 'form':formProduit,'formtype':'produit.form_update'} %}
        </div>
        <a class='btn btn-danger' href='{{ path('produit_delete', {'id': produit.id}) }}'>{{ 'btn.delete'|trans }}</a>
    {% endif %}

    
{% endblock %}
