{% extends 'base.html.twig' %}

{% block title %}{{'listPanierUser.titre'|trans}}{% endblock %}

{% block body %}
{% if contenuPanier %}
<h2 class="text-center mt-4">{{'listPanierUser.titre'|trans}}</h2>
<table class="table table-striped">
    <thead>
        <th>ID Panier</th>
        <th>Pseudo</th>
        <th>Contenu du panier</th>
    </thead>
    <tbody>
        {% for x in contenuPanier %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.user.username}}</td>
            <td>
            {% for contenu in x.contenuPaniers %}
            {{contenu}}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{'listPanierUser.noPanier'|trans}}</p>
{% endif %}
{% endblock %}
