{% extends 'base.html.twig' %}

{% block title %}Liste des paniers des utilisateurs{% endblock %}

{% block body %}
<h2 class="text-center mt-4">{{'listPanierUser.titre'|trans}}</h2>
{# {{dump(contenuPanier)}} #}
<table class="table table-striped">
    <thead>
        <th>ID Panier</th>
        <th>Pseudo</th>
        <th>Contenu du panier</th>
        {# <th>Prénom</th>
        <th>Email</th>
        <th>Role</th> #}
    </thead>
    <tbody>
        {% for x in contenuPanier %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.user.username}}</td>
            <td>
            {% for contenu in x.contenuPaniers %}
            {{contenu}}
            {% endfor %}
            </td>
            {# <td>{{x.prenom}}</td> #}
            {# <td>{{x.email}}</td> #}
            {# <td>{{x.roles[0]}}</td> #}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
